.favourite-icon {
  cursor: pointer;
  background: #000000a1;
  padding: 11px 11px 8px 11px;
  border: 0px solid grey;
  border-radius: 120px;
  margin: 5px;
}

.favourite-icon:hover {
  background: #484848a1;
}
