.recipe-card {
  width: 290px;
  border: solid #d2d2d2 1px;
  margin: 5px;
  display: inline-block;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.recipe-card:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

.recipe-link {
  color: #6b6b6b;
  text-decoration: none;
}

.image {
  width: 290px;
  height: 290px;
}

.title {
  overflow: hidden;
  margin: 10px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  margin: 5px;
  max-height: 90px;
}

.favourite-icon {
  margin-left: 223px;
  margin-top: 11px;
  position: absolute;
}
