.nav-buttons-wrapper {
  float: right;
  margin: 40px;
}

.nav-button {
  padding: 10px;
  text-shadow: #c1c0c099 1px 1px 1px;
  text-decoration: none;
  font-weight: bold;
  color: #6b6b6b;
  font-size: larger;
  transition: 0.3s;
}

.nav-button:hover {
  color: #ea9801;
  text-decoration: underline;
  /*text-underline-position: under;*/
}

.nav-button-active {
  color: #ea9801;
}

.logo {
  float: left;
  margin: 40px;
}
