body {
  margin: 0;
  background-color: #efefef;
  color: #6b6b6b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-image: url("/background.jpg");
  opacity: 0.1;
  position: fixed;
  background-size: cover;
  width: 100%;
  z-index: -999999;
  height: 100%;
}

.app-title {
  float: left;
  margin: 26px;
}

.logo {
  vertical-align: middle;
  margin-right: 10px;
}

header {
  height: 100px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}

footer {
  background: white;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  height: 80px;
}

input,
textarea,
select {
  padding: 16px;
  border: solid 1px #dbdbdb;
  width: 250px;
  margin: 5px;
  font-size: large;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input:focus {
  border: #676767 solid 1px;
}

select:focus {
  border: #676767 solid 1px;
}

textarea:focus {
  border: #676767 solid 1px;
}

button {
  background-color: white;
  border: #8c8c8c solid 1px;
  height: 53px;
  width: 284px;
  margin: 7px;
  font-size: large;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #f5f5f5;
  color: #403d3d;
}

h2 {
  text-transform: uppercase;
}

hr {
  width: 87%;
  background-color: #6b6b6b36;
  border: none;
  height: 1px;
}

.input-error {
  border: red solid 1px !important;
}

.input-error-text {
  color: red;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e99e15;
}
